# Ignorar archivos y carpetas temporales
.vs/
bin/
obj/

# Ignorar configuraciones de usuario de Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignorar archivos generados por el sistema
.DS_Store
Thumbs.db